@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: #fff7ea;
  font-family: "Roboto", sans-serif;
}

.new__emp {
  font-size: 35px;
  font-weight: 600;
}

.sidebar {
  border: 1px solid #c3c3c3;
  height: 30%;
  border-radius: 12px;
  padding: 10px 20px;
}

.title {
  font-weight: 500;
}
.title__col {
  font-weight: 500;
  font-size: 20px;
}

ul li {
  list-style: none;
  margin-left: -20px;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

ul li.active {
  background: #fdf1c2;
  padding: 8px 0;
  border-radius: 8px;
}

ul li a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 16;
  padding: 5px;
}
input {
  background-color: transparent !important;
  border: 1px solid #c3c3c3;
}
.box__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px 0;
}

.box__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.work__day {
  display: flex;
}

.work__day .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fdf1c2;
  margin: 8px;
}

.btn__add {
  background: #257589;
  font-family: "Poppins", sans-serif;
  outline: none;
  border-radius: 12px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin: 20px 0;
}
